@model hellodoc.DAL.ViewModels.AdminUserAccessVm

<div class="container">
    <h4 class="mb-4 fw-semibold">User Access</h4>
    <div class="border rounded shadow p-3">
        <div class="d-md-flex justify-content-between align-items-center mb-3">
            <form role="search" class="d-flex align-items-center border border-rounded rounded border-info mb-3">
                <i type="search" class="bi bi-search px-2"></i>
                <select class="form-select border-0 roleDropdown" aria-label="Default select example" onchange="GetUserAccess(this.value)" id="roleValue">
                    <option selected value="0">All Role</option>
                    @foreach (var obj in Model.Aspnetroles)
                    {
                        <option value="@obj.Id">
                            @obj.Name
                        </option>
                    }
                </select>
            </form>

            <button type="button" class="btn btn-info d-none fw-semibold shadow" onclick="CreateProviderAccount(2)" id="createProvider">
                <span class="">Create Proivder Account</span>
            </button>

            <button type="button" class="btn btn-info d-none fw-semibold shadow" onclick="GetCreateAdminAccount(2)" id="createAdmin">
                <span class="">Create Admin Account</span>
            </button>
        </div>

        <div class="table-responsive d-lg-block d-none">
            <table class="table table-hover UserAccessTable">
                <thead>
                    <tr>
                        <th>Account Type</th>
                        <th>Account POC</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Open Requests</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                        @if (Model.UserAccesses != null)
                        {
                            @foreach (var obj in Model.UserAccesses)
                            {
                            <tr class="align-middle">

                                <td>@obj.AccountType</td>
                                <td>@obj.AccountHolderName</td>
                                <td>@obj.AccountPhone</td>
                                <td>@obj.AccountStatus</td>
                                <td>@obj.AccountRequests</td>
                                <td>
                                    @if (obj.AccountTypeId == 1)
                                    {
                                        <button type="button" class="fw-semibold btn btn-outline-info" onclick="GetAdminProfile(`@obj.AspId`, 2)">Edit</button>
                                    }
                                    @if (obj.AccountTypeId == 2)
                                    {
                                        <button type="button" class="fw-semibold btn btn-outline-info" onclick="GetEditProvider(`@obj.AspId`, 2)">Edit</button>
                                    }
                                </td>
                            </tr>
                            }
                        }
                </tbody>

            </table>
        </div>

        <div class="border rounded shadow d-block d-lg-none">
            <div class="accordion container-fluid p-0" id="accordionPanelsStayOpenExample">
                <table class="w-100 UserAccessTable">
                    <thead>
                        <tr>
                            <th class="d-none"></th>
                            <th class="d-none"></th>
                        </tr>
                    </thead>
                    @{
                        var counter = 1;
                    }
                    <tbody>
                        @if (Model.UserAccesses != null)
                        {
                            @foreach (var obj in Model.UserAccesses)
                            {
                                <tr class="d-flex flex-column">
                                    <td>
                                        <h2 class="accordion-header" id="flush-heading@(counter)"></h2>

                                        <div class="accordion-button collapsed d-flex flex-column pb-0" data-bs-toggle="collapse"
                                             data-bs-target="#flush-collapse@(counter)" aria-expanded="false"
                                             aria-controls="flush-collapse@(counter)">

                                            <div class="w-100 ">
                                                <span class="fw-bolder">
                                                    @obj.AccountHolderName
                                                </span>
                                            </div>
                                            <div class="w-100">
                                                <div class="">
                                                    <span class="fw-bolder">Account Type: </span> @obj.AccountType
                                                </div>
                                            </div>

                                        </div>

                                    </td>
                                    <td>
                                        <div id="flush-collapse@(counter)" class="accordion-collapse collapse"
                                             aria-labelledby="flush-heading@(counter)" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body main-flex pt-2">
                                                <div class="w-100">
                                                    <div class="">
                                                        <span class="fw-bolder">Phone: </span> @obj.AccountPhone
                                                    </div>
                                                    <div class="">
                                                        <span class="fw-bolder">Status: </span> @obj.AccountStatus
                                                    </div>
                                                    <div class="">
                                                        <span class="fw-bolder">Open Requests: </span> @obj.AccountRequests
                                                    </div>
                                                </div>
                                                <div class="inner-flex d-flex justify-content-end">
                                                    @if (obj.AccountTypeId == 1)
                                                    {
                                                        <button type="button" class="fw-semibold btn btn-outline-info" onclick="GetAdminProfile(`@obj.AspId`, 2)"><i class="fa-solid fa-pen-to-square"></i></button>
                                                    }
                                                    @if (obj.AccountTypeId == 2)
                                                    {
                                                        <button type="button" class="fw-semibold btn btn-outline-info" onclick="GetEditProvider(`@obj.AspId`, @obj.AccountTypeId)"><i class="fa-solid fa-pen-to-square"></i></button>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.UserAccessTable').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input2').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input2').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[10, 15, -1], [10, 15, "All"]],
            "pageLength": 10,

            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
    });
</script>