@model hellodoc.DAL.ViewModels.ShiftDetailsmodal

<div class="modal fade" id="ViewAllShiftModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="font-weight:600">

            <div class="modal-header bg-info text-white">
                <h5 class="modal-title text-light fw-semibold fs-5" id="exampleModalLabel"> All Shifts (@ViewBag.TotalShift) </h5>
                <i type="button" class="fa-solid fa-xmark h4" aria-label="Close" data-bs-dismiss="modal"></i>
            </div>

            <div class="modal-body">

                @{
                    foreach (var shift in Model.ViewAllList)
                    {
                        var bgcolor = "";
                        if (shift.Status == 1)
                        {
                            bgcolor = "lightpink";
                        }
                        else if (shift.Status == 2)
                        {
                            bgcolor = "lightgreen";
                        }

                        <div class="mt-3">
                            <button class="w-100 h-100 border-0 rounded shadow fw-semibold text-dark" style="background-color:@bgcolor;" onclick="providersModal({actionType:'shiftdetails',shiftdetailsid : '@shift.Shiftdetailid',from:'more'})"> @shift.Starttime - @shift.Endtime <br> Physician : @shift.PhysicianName <br> Region : @shift.regionname  </button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
