@model hellodoc.DAL.ViewModels.ModalVm

<div class="modal fade" id="blockModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-title text-light fw-semibold fs-5" id="exampleModalLongTitle">Confirm Block</div>
                <i type="button" class="fa-solid fa-xmark h4" aria-label="Close" data-bs-dismiss="modal"></i>
            </div>
            <form class="p-3" method="post" id="blockCaseForm" onsubmit="BlockCase(@Model.blockCaseModal.RequestId)">
                <input type="text" asp-for="@Model.blockCaseModal.RequestId" hidden />
                <input type="text" asp-for="@Model.StatusForName" id="statusForName" hidden />
                <div class="">
                    Patient Name:
                    <span class="text-info fw-semibold">
                        @Model.blockCaseModal.Name
                    </span>
                </div>

                <div class="mt-4 form-floating">
                    <textarea class="primary form-control h-100" id="floatingInputBlock" placeholder="Reason for Block Request" rows="3" asp-for="@Model.blockCaseModal.BlockReason"></textarea>
                    <label for="floatingInputBlock" class="text-wrap">Reason for Block Request</label>
                    <span class="text-danger" asp-validation-for="blockCaseModal.BlockReason"></span>
                </div>

                <div class="mt-4 d-flex justify-content-end">
                    <button type="submit" class="btn continue-btn btn-outline-info border-info mx-2 fw-semibold">Confirm</button>
                    <button type="button" class="btn cancel-btn btn-outline-secondary border-secondary fw-semibold" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />