@model hellodoc.DAL.ViewModels.ProviderInvoicingVm

<link rel="stylesheet" href="~/css/invoicing.css" asp-append-version="true" />

<div class="container">

    <div class="d-flex justify-content-end align-items-center mb-3 mt-2">
        <div class="mt-3 mt-lg-0" id="buttonProvider">
            @if (Model.callId == 1)
            {
                <a class="btn btn-outline-info fw-bold shadow" onclick="GetAdminInvoicing()">
                    <div class="d-flex justify-content-between">
                        <i class="bi bi-caret-left-fill"></i> <span class="d-sm-block d-none">Back</span>
                    </div>
                </a>
            }
            @if (Model.callId == 3)
            {
                <a class="btn btn-outline-info fw-bold shadow" onclick="GetProviderInvoicing()">
                    <div class="d-flex justify-content-between">
                        <i class="bi bi-caret-left-fill"></i> <span class="d-sm-block d-none">Back</span>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="border rounded shadow p-3">

        <div class="table-responsive d-lg-block d-none">
            <form method="post" id="finalizeSheetForm" onsubmit="PostFinalizeTimesheet(@Model.callId)">

                <table class="table FillTimesheetTable">
                    <thead class="rounded table-active">
                        <tr>
                            <th>Date</th>
                            <th>On-call Hours</th>
                            <th>Total Hours</th>
                            <th>Weekend/ Holiday</th>
                            <th>Number of Housecalls</th>
                            <th>Number of phone Consults</th>
                            @if (Model.callId == 1)
                            {
                                <th>Total</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var obj in @Model.ProviderTimesheetDetails)
                        {
                            <input asp-for="@obj.TimeSheetId" id="TimeSheetId" name="providerTimeSheetDetails[@index].TimeSheetId" hidden />
                            <input asp-for="@obj.TimeSheetDetailId" class="TimeSheetDetailIdClass" name="providerTimeSheetDetails[@index].TimeSheetDetailId" hidden />

                            <tr class="align-middle timesheet-row">
                                <td>@obj.ShiftDetailDate</td>
                                <td>
                                    @if (@obj.Hours == null)
                                    {
                                        <span>0</span>
                                    }
                                    else
                                    {
                                        @obj.Hours
                                    }
                                </td>
                                <td>
                                    <input asp-for="@obj.Hours" type="number" class="form-control w-75" value="@obj.Hours"
                                           name="providerTimeSheetDetails[@index].Hours" id="floatingTotalHours@(index)"
                                           placeholder="Total Hours" onkeyup="validateFinalizeForm(@(index))">
                                </td>
                                <td class="ps-5">
                                    <input type="checkbox" @(obj.IsWeekend == true ? "checked" : "") value="true"
                                           name="providerTimeSheetDetails[@index].IsWeekend"
                                           class="form-check-input checkbox fileCheckbox" />
                                </td>
                                <td>
                                    <input asp-for="@obj.NoOfHouseCalls" type="number" class="form-control w-75"
                                           value="@obj.NoOfHouseCalls" name="providerTimeSheetDetails[@index].NoOfHouseCalls"
                                           id="floatingNumberOfHouseCalls@(index)" placeholder="Number of HouseCalls" onkeyup="validateFinalizeForm(@(index))">
                                </td>
                                <td>
                                    <input asp-for="@obj.NoOfConsults" type="number" class="form-control w-75"
                                           value="@obj.NoOfConsults" name="providerTimeSheetDetails[@index].NoOfConsults"
                                           id="floatingNumberOfPhoneConsults@(index)" placeholder="Number of PhoneConsults" onkeyup="validateFinalizeForm(@(index))">
                                </td>
                            </tr>
                            index++;
                        }
                        @if (Model.callId == 1)
                        {
                            var shift = (@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 2) == null || @Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 2).Payrate == null) ? 0 : @Convert.ToInt32(@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 2).Payrate);
                            var nightShiftWeekend = (@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 1) == null || @Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 1).Payrate == null) ? 0 : @Convert.ToInt32(@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 1).Payrate);
                            var houseCalls = (@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 7) == null || @Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 7).Payrate == null) ? 0 : @Convert.ToInt32(@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 7).Payrate);
                            var phoneConsults = (@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 4) == null || @Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 4).Payrate == null) ? 0 : @Convert.ToInt32(@Model.PayrateByProvider.FirstOrDefault(i => i.PayrateCategoryId == 4).Payrate);
                            <tr>
                                <td>Payrate</td>
                                <td></td>
                                <td><input disabled class="form-control w-75" value="@shift"></td>
                                <td><input disabled class="form-control w-75" value="@nightShiftWeekend"></td>
                                <td><input disabled class="form-control w-75" value="@houseCalls" /></td>
                                <td><input disabled class="form-control w-75" value="@phoneConsults" /></td>
                            </tr>

                            <tr>
                                <td>Invoice Total</td>
                                <td></td>
                                <td>
                                    @{
                                        var totalHours = Convert.ToInt32(@Model.ProviderTimesheetDetails.Sum(i => i.Hours) * shift);
                                    }
                                    <input disabled class="form-control w-75" value="@totalHours">
                                </td>
                                <td>
                                    @{
                                        var totalNightShifts = Convert.ToInt32(@Model.ProviderTimesheetDetails.Count(i => i.IsWeekend == true) * nightShiftWeekend);
                                    }
                                    <input disabled class="form-control w-75" value="@totalNightShifts">
                                </td>
                                <td>
                                    @{
                                        var totalHouseCalls = Convert.ToInt32(@Model.ProviderTimesheetDetails.Sum(i => i.NoOfHouseCalls) * houseCalls);
                                    }
                                    <input disabled class="form-control w-75" value="@totalHouseCalls">
                                </td>
                                <td>
                                    @{
                                        var totalPhoneCalls = Convert.ToInt32(@Model.ProviderTimesheetDetails.Sum(i => i.NoOfConsults) * phoneConsults);
                                    }
                                    <input disabled class="form-control w-75" value="@totalPhoneCalls">
                                </td>
                                <td>
                                    @{
                                        var total = totalHours + totalNightShifts + totalHouseCalls + totalPhoneCalls;
                                    }
                                    <input disabled class="form-control w-75" value="@total">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info fw-semibold shadow finalizeform" disabled>Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-4">
        <button type="button" class="btn btn-info fw-semibold shadow accordion-toggle me-2" id="AddRecieptBtn" onclick="AddTimeSheetDetailId()">
            Add Reciepts
        </button>
    </div>

    <div id="AddReceiptsContainer"></div>

    <div class="mt-4 d-flex justify-content-end">
        @if (Model.callId == 1)
        {
            <div class="d-lg-flex justify-content-end gap-2 align-items-center">
                <input id="bonusAmount" type="number" min="0" class="form-control w-50 bonus" placeholder="Bonus Amount" onkeyup="enableApproveBtn()">
                <input id="adminNotes" type="text" class="form-control w-50 notes" placeholder="Admin Description" onkeyup="enableApproveBtn()">

                <button type="button" class="btn btn-info fw-semibold me-2 approve" onclick="ApproveTimeSheet()" placeholder="Admin Description" disabled>Approve</button>
            </div>
        }
        else if (Model.callId == 3)
        {
            <button type="button" class="btn btn-info fw-semibold me-2" onclick="FinalizeTimeSheet()">Finalize</button>
        }
    </div>
</div>

<script>
    function validateFinalizeForm(index) {
        var TotalHr = $(`#floatingTotalHours${index}`);
        var NoHc = $(`#floatingNumberOfHouseCalls${index}`);
        var NoPc = $(`#floatingNumberOfPhoneConsults${index}`);
        var approved = $('.finalizeform');

        if (TotalHr.val()<0 || NoHc.val()<0 || NoPc.val()<0) {
            approved.prop('disabled', true);
        }
        else {
            approved.prop('disabled', false);
        }
    }

    function AddTimeSheetDetailId() {
        var timeSheetDetailId = [];

        $('.TimeSheetDetailIdClass').each(function () {
            var detailId = $(this).val();
            timeSheetDetailId.push(detailId);
        });

        GetAddReceipts(timeSheetDetailId);
    }

    function enableApproveBtn() {
        var bonus = $('.bonus');
        var note = $('.notes');
        var approved = $('.approve');

        if (bonus.val() == "" || note.val() == "") {
            approved.prop('disabled', true);
        }
        else {
            approved.prop('disabled', false);
        }
    }

    function FinalizeTimeSheet() {
        var timeSheetId = $('#TimeSheetId').val();

        ConfirmFinalizeTimeSheet(timeSheetId);
    }

    function ApproveTimeSheet() {
        var timeSheetId = $('#TimeSheetId').val();

        ConfirmApproveTimeSheet(timeSheetId);
    }
</script>
