@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http
@model hellodoc.DAL.ViewModels.AdminDashboardVm

@functions {
    public string GetTableColorClass(int RequstTypeId)
    {
        switch (RequstTypeId)
        {
            case 1: return "green";
            case 2: return "orange";
            case 3: return "pink";
            case 4: return "blue";
            default: return "violate";
        }
    }

    public string GetTabletype(int Status)
    {
        switch (Status)
        {
            case 1: return "New";
            case 2: return "Pending";
            case 4: return "Active";
            case 6: return "Conclude";
            case 3: return "To Close";
            case 9: return "Unpaid";
            default: return "Unknown";
        }
    }

    public string GetRequestBy(int RequstTypeId)
    {
        switch (RequstTypeId)
        {
            case 1: return "Patient";
            case 2: return "Family/Friend";
            case 3: return "Business";
            case 4: return "Concierge";
            default: return "Vip";
        }
    }
}

@{
    int[] dashStatus = new int[3];

    if (Model.StatusForName == 4)
    {
        dashStatus[0] = 4;
        dashStatus[1] = 5;
    }
    else
    {
        dashStatus[0] = Model.StatusForName;
    }
}

<div class="mt-3 d-flex justify-content-between align-items-center">
    <h5>
        Patients (@GetTabletype(Model.StatusForName))
    </h5>
    <div class="d-flex">
        <button type="button"
                class="btn btn-info d-flex ms-3 ms-sm-2 p-2 align-items-center text-light" onclick="sendLinkModal(@Model.StatusForName,2)">
            <i class="fa-regular fa-paper-plane px-1"></i>
            <span class="d-md-block d-none px-2 fw-semibold">SendLink</span>
        </button>
        <button type="button"
                class="btn btn-info d-flex ms-3 ms-sm-2 p-2 align-items-center text-light" onclick="adminCreateRequest(@Model.StatusForName,2)">
            <i class="fa-solid fa-pen-to-square px-1"></i>
            <span class="d-md-block d-none px-2 fw-semibold">CreateRequest</span>
        </button>
    </div>
</div>

<div class="mt-3 mb-2">
    <div class="d-lg-flex justify-content-between align-items-center gap-2">

        <div class="d-lg-flex gap-1">
            <form role="search" class="mb-2">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="provider-search-input">
            </form>
        </div>

        @* ********************************************* filter by requesttype using FilterTableRecords ajax ********************************************* *@
        <div class="d-flex gap-2 align-items-center mb-2">
            <button type="button" onclick="ProviderFilterTable([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '0')" class="btn btn-outline-secondary d-none d-md-block">All</button>
            <div type="button" onclick="ProviderFilterTable([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '1')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="fa-solid fa-circle green-icon"></i>
                <div><small>Patient</small></div>
            </div>
            <div type="button" onclick="ProviderFilterTable([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '2')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="fa-solid fa-circle orange-icon"></i>
                <div><small>Family/Friend</small></div>
            </div>
            <div type="button" onclick="ProviderFilterTable([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '4')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="fa-solid fa-circle blue-icon"></i>
                <div><small>Concierge</small></div>
            </div>
            <div type="button" onclick="ProviderFilterTable([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '3')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="fa-solid fa-circle pink-icon"></i>
                <div><small>Business</small></div>
            </div>
            <div type="button" onclick="ProviderFilterTable([@dashStatus[0], @dashStatus[1], @dashStatus[2]], '5')" class="d-md-flex gap-1 mx-auto text-center align-items-center">
                <i class="fa-solid fa-circle purple-icon"></i>
                <div><small>Vips</small></div>
            </div>
        </div>
    </div>
</div>

<div id="providerRequestTable">
    <partial name="Provider/Dashboard/_ProviderRequestTable" />
</div>

